.window.mac {
    #section2 {
        padding: 0 0 100px;
        position: relative;
        overflow: hidden;
    
        .imgWrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            width: 200%;
            margin-left: -20%;
            white-space: nowrap;
    
            > div {
                width: 800px;
                height: 500px;
                width: 41.7vw;
                height: 26.1vw;
                margin: 10px;
                background-size: cover;
                background-position: center center;
                border-radius: 10px;
    
                &:nth-child(1) {
                    background-image: url(https://images.unsplash.com/photo-1635438909544-3f1e87c206eb?q=80&w=4074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                }
    
                &:nth-child(2) {
                    background-image: url(https://images.unsplash.com/photo-1702221422565-60f734cd90b1?q=80&w=4000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                }
    
                &:nth-child(3) {
                    background-image: url(https://images.unsplash.com/photo-1683009427619-a1a11b799e05?q=80&w=4170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                }
            }
        }
    
        .text-title {
            position: relative;
    
            p {
                padding: 3% 5% 0 10%;
                font-family: "GmarketSans";
                font-weight: 900;
                font-size: 4vw;
                line-height: 1.2;
                text-align: right;
            }
    
            .svg {
                position: absolute;
                left: 5%;
                top: 14%;
    
                svg {
                    width: 4.5vw;
                    height: 4.5vw;
                }
            }
    
            .desc2 {
                font-family: "IropkeBatang";
                line-height: 1.6;
                font-size: 16px;
                color: #202020;
                font-weight: normal;
    
                i {
                    font-style: normal;
                    text-decoration: underline;
                    text-underline-position: under;
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }
    }
    
    @media (max-width: 700px) {
        .text-title {
            padding: 50px;
    
            .svg {
                top: 18% !important; 
                display: none;
            }
    
            p { padding: 3% 5% 0 5% !important;}
            .desc1 {
                text-align: center !important;
            }
            .desc2 {
                padding-top: 10% !important;
                text-align: start !important;
            }
        }
    }
}
