.window.mac {
    #section3 {
        padding: 20% 0 10%;
    
        .title {
            font-family: "GmarketSans";
            text-align: left;
            font-size: 8vw;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 900;
            margin-bottom: 10%;
            // padding: 0 0 0 2.5%;
            padding-left: 36px;
    
            .t1 {
                padding-left: 13vw;
            }
            .sec3__title {
                position: relative;
            }
            .img {
                width: 12vw;
                height: 6.6vw;
                background-image: url(https://source.unsplash.com/500x500/?color);
                background-size: cover;
                background-position: center;
                display: block;
                position: absolute;
                left: 0.6vw;
                top: 0vw;
                border-radius: 10px;
                background-color: #000;
            }
    
            .desc {
                font-family: "IropkeBatang";
                line-height: 1.6;
                font-size: 16px;
                color: #202020;
                font-weight: normal;
                padding-left: 0.5vw;
                text-decoration: underline;
                text-underline-position: under;
            }
    
            .desc2 {
                padding-top: 30px;
                font-family: "IropkeBatang";
                line-height: 1.6;
                font-size: 16px;
                color: #202020;
                font-weight: normal;
                padding-left: 0.5vw;
            }
        }
    }
    
    .site__wrap {
        .site {
            display: flex;
            height: 100vh;
    
            &.s1,
            &.s2,
            &.s3 {
                position: sticky;
                left: 0;
                top: 100px;
                padding: 5%;
            }
    
            &.s1,
            &.s3 {
                background-color: #dedede;
                z-index: 900;
            }
    
            &.s2 {
                z-index: 1000;
                background-color: #fff;
            }
    
            &.s3 {
                z-index: 2000;
            }
    
            .num {
                width: 15vw;
                font-size: 15vw;
                font-family: "GmarketSans";
                font-weight: 900;
                line-height: 0.861;
            }
    
            .subTitle {
                width: 30%;
                font-family: "IropkeBatang";
                text-align: center;
            }
    
            .tit {
                width: 50%;
                .h4 {
                    font-size: 4vw;
                    margin-top: -0.8vw;
                    line-height: 1.3;
                    font-family: "GmarketSans";
                    font-weight: 100;
                    text-transform: capitalize;
                }
    
                .img {
                    margin-top: 5%;
                    width: 50%;
                    height: 300px;
                    background-color: #ccc;
                }
    
                .img-wrap {
                    display: flex;
    
                    .img {
                        width: 60%;
                        background-size: cover;
                        background-position: center center;
                        background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                    }
    
                    .desc {
                        width: 40%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        line-height: 1.6;
                        margin-left: 4%;
                        margin-top: 50px;
                        font-family: "IropkeBatang";
    
                        h4 {
                            margin-bottom: 10px;
    
                            a {
                                pointer-events: auto;
                                position: relative;
                                padding: 3px;
                                @include link-hover;
                            }
                        }
                        .link {
                            margin-bottom: 20px;
    
                            a {
                                pointer-events: auto;
                                position: relative;
                                @include link-hover;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 1000px) {
        .site__wrap {
            .site {
                .img-wrap {
                    flex-direction: column;
                    .img {
                        width: 100% !important;
                    }
                    .desc {
                        width: 100% !important;
                        margin-top: 20px !important;
                        margin-left: 0 !important;
                        .link {
                            margin-top: 10px !important;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 700px) {
        #section3 {
            padding: 120px 0px 50px 0px;
            justify-content: center;
            align-items: center;
            text-align: center;
    
            .title {
                display: flex;
                text-align: center;
                flex-direction: column;
                align-items: center;
    
                p {
                    display: none;
                }
            }
    
            .site__wrap {
                .site {
                    flex-direction: column;
                    padding-top: 10%;
    
                    .num { display: none;}
                    .subTitle {
                        text-align: left;
                        width: 100%;
                    }
                    .tit {
                        width: 100%;
                        text-align: left;
                        margin-top: 30px;
                    }
                    
                }
            }
        }
    }
    
}
