#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10000;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 50px;

    .left {
        display: flex;
        align-items: flex-end;

        .logoImg {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
            margin-left: 5px;
            img {
                width: 100%;
            }
        }

        h1 {
            font-family: Josefin Slab;
            text-transform: uppercase;
            padding-right: 3vw;
            margin-bottom: -5px;
            font-size: 30px;
        }

        p {
            font-family: GmarketSans;
            font-weight: 100;
            margin-bottom: 2px;
            display: flex;
            span {
            }
        }
    }

    .right {
        position: relative;
        ul {
            display: flex;
            li {
                a {
                    font-family: GmarketSans;
                    font-weight: 500;
                    display: inline-block;
                    margin-left: 40px;
                    position: relative;
                    transition: all 0.2s;
                    &:hover {
                        color: var(--black600);

                        &::before {
                            transform: scaleX(1);
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: calc(100% - 1px);
                        height: 2px;
                        background-color: var(--black600);
                        left: 7%;
                        bottom: 0%;
                        transform: scaleX(0);
                        transition: all 0.3s;
                    }
                }
            }
        }
        .header__nav__mobile {
            position: absolute;
            right: 9%;
            top: -25px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s;
            transform: scale(0);
        }
    }
}

#section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 150px 50px 50px;

    .sec1__text {
        font-family: "GmarketSans";
        text-align: left;
        font-size: 9vw;
        line-height: 1.08;
        text-transform: uppercase;
        font-weight: 900;
        position: relative;

        .lineMask.ab {
            @include lineMask-ab-sec1;
        }
        .split.t0 {
            width: 12vw;
            height: 7.4vw;
            background-image: url(https://source.unsplash.com/500x500/?water);
            background-size: cover;
            background-position: center;
            display: block;
            position: absolute;
            left: 0.6vw;
            top: 0.2vw;
            border-radius: 10px;
        }

        .t1 {
            padding-left: 13vw;
        }
    }

    .sec1__intro {
        font-family: "IropkeBatang";
        line-height: 1.6;
    }
}
@media (max-width: 1000px) {
    #header {
        .left {
            p {
                display: none;
            }
        }
    }
}
@media (max-width: 700px) {
    #header {
        padding: 20px 20px;

        .right {
            width: 100%;
            position: relative;
        }
        .right ul {
            display: none;
        }
        .right ul.show {
            display: inline-block;
            position: absolute;
            width: 200px;
            top: 0%;
            right: 4%;
            padding: 5%;
            text-align: right;
        }

        .right ul li {
            padding: 3%;
        }

        .header__nav__mobile {
            display: block;
            transform: scale(1) !important;
        }
    }

    #section1 {
        padding: 120px 2px 50px 20px;
        justify-content: center;
        align-items: center;
        text-align: center;

        br {
            display: none;
        }

        .sec1__text {
            text-align: center;
        }

        .sec1__intro {
            p {
                display: none !important;
            }
        }
    }
}
